.App {
  text-align: center;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px 0;
  padding: 20px;
  justify-content: center;
}
.categories__item {
  width: 250px;
  height: 120px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2.1px 2.1px rgba(0, 0, 0, 0.47);

  flex-grow: 1;
  background: lightgray;
}

.categories__item:hover {
  box-shadow: 2.9px 5.8px 5.8px rgba(0, 0, 0, 0.41);
  cursor: pointer;
}
.question__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.question__list li {
  width: 48%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid sandybrown;
  background: coral;
}

.question__list li:hover {
  background: rgba(255, 127, 80, 0.712);
  cursor: pointer;
}
